{% extends "base.html" %}

{% block content %}

{% if form.errors and form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}



<form action="" method="post">
    {% csrf_token %}

    <div class="input-area p-3 border-top bg-white">

        <label for="username" class="form-label fw-bold">Username </label>
        <input type="text" name="username" class="form-control" id="username" 
            value="{{ form.username.value|default_if_none:'' }}"
            required/>

        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" name="password" class="form-control" id="password"
            required/>

        <button type="submit" class="btn btn-primary mt-2 ">Login</button>
    </div>
</form>


{% endblock content %}